*,*:after,*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 1, 37);
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: white;
  user-select: none;
  padding: 1rem;
}

.slide-container {
  
  max-width: 30rem;
  min-width: 15rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 15rem;
}
.sliders{
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
}
.slide {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;
  border: 2px solid white;
  border-radius: 1rem;
  mask-image: linear-gradient(0deg,transparent,pink,red 95%);
  
}

.slide img {
   width: 100%;
   aspect-ratio: 3/2;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  
}
.slide .caption{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%) translateY(200px);
  display:flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  align-self: center;
  justify-self:  center;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.156);
  backdrop-filter: blur(1px);
  border-radius: 3rem;
  font-size: 2rem;
  
}
.controls-num{
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: -2rem;
}
.controls-num .num{
  
 
  
  width: 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 5px solid rgb(8, 69, 69);
  background: rgb(229, 225, 231);
  opacity: .6;
  transition: .5s;
  cursor: pointer;
}
.controls-num .num:hover,.num:active{
  opacity: 1;
}

.fliper{
  position: absolute;
  right: -3.5rem;
  background: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(13, 1, 37);
  font-size: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  opacity: .2;
  transition: .5s;
}
.fliper:hover{
  opacity: .8;
  
}
.fliper:active{
  opacity: .8;
  scale: .85;
}
#previ{
  left: -3.5rem;
}
.controls-num .num:hover,
.controls-num .num:active {
  opacity: 1;
}

.controls-num .num.active {
  background: rgb(8, 69, 69);
  border-color: white;
  color: white;
  opacity: 1;
}
.controls-num .num:nth-child(1).active{
  background: rgb(8, 69, 69);
  border-color: white;
  color: white;
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}
.slide div.anima{
  animation: popIN 1.6s;
  animation-delay: 0s;
  transform: translateX(-50%) translateY(0px);
  
}
@keyframes popIN{
  from{
    transform: translateX(-50%) translateY(200px);
  }to{
    transform: translateX(-50%) translateY(0px);
  }
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 768px){
#previ{
  left: 0rem;
}
#next{
  right: 0rem;
}
.slide .caption{
  font-size: 1.4rem;
  height: 3.5rem;
}
}