body {
  height: 100vh;
  width: 100%;
  background-color: rgb(13, 1, 37);
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
  width: 90%;
  height: 70vh;
  border: 2px solid white;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  position: relative;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  border: 2px solid white;
}

.slide img {
  width: 60%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
}
